body {
  margin: 0px;
  padding: 0px;
}
body, input { font-size:12px; }
span.partydef { display: block; margin: 5px 0; }
#container {
  width:500px;
  margin: 100px auto;
}

#dunbar-graph {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 20px;
  width:500px;
  height: 500px;
}

p {text-align:right;}
